body{
    background-color: whitesmoke;
}
h1{
    font-family: 'Times New Roman', Times, serif
    ;
}

h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#camera{
    width: 500px;
    height: 400px;
}

.column{
    left: 50%;
    width: 300px;
    height: 300px;
}

.footer{
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    border-width: 2px;
    box-shadow: 0 6px 8px rgba(2, 2, 2, 0.2);
    background-color: bisque;
}